--
-- PostgreSQL database dump
--

\restrict Ug3laEhu2pM0b2GXdLG5NTGfNqJQiTVR14yml7W7fsvzS2FOnU5hGofgVfpTc5I

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cliente; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cliente (
    id character varying(255) NOT NULL,
    apellido character varying(255),
    email character varying(255),
    fecha_nacimiento date,
    nombre character varying(255),
    telefono character varying(255),
    foto text
);


ALTER TABLE public.cliente OWNER TO postgres;

--
-- Name: detalle_pedido; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.detalle_pedido (
    id character varying(255) NOT NULL,
    cantidad integer,
    id_producto character varying(255),
    monto_unitario numeric(38,2),
    observaciones character varying(255),
    id_pedido character varying(255)
);


ALTER TABLE public.detalle_pedido OWNER TO postgres;

--
-- Name: direccion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.direccion (
    id character varying(255) NOT NULL,
    calle character varying(255),
    codigo_postal character varying(255),
    estado character varying(255),
    latitud double precision,
    localidad character varying(255),
    longitud double precision,
    numero character varying(255),
    observaciones character varying(255),
    provincia character varying(255),
    id_cliente character varying(255) NOT NULL,
    CONSTRAINT direccion_estado_check CHECK (((estado)::text = ANY ((ARRAY['ACTIVO'::character varying, 'INACTIVO'::character varying])::text[])))
);


ALTER TABLE public.direccion OWNER TO postgres;

--
-- Name: pedido; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pedido (
    id character varying(255) NOT NULL,
    cliente_id character varying(255),
    comision_app numeric(38,2),
    costo_envio numeric(38,2),
    estado character varying(255),
    fecha_calificacion timestamp(6) without time zone,
    fecha_creacion timestamp(6) without time zone,
    metodo_envio character varying(255),
    monto_total numeric(38,2),
    monto_total_productos numeric(38,2),
    puntuacion integer,
    vendedor_id character varying(255),
    id_cliente character varying(255) NOT NULL,
    id_direccion character varying(255),
    CONSTRAINT pedido_estado_check CHECK (((estado)::text = ANY ((ARRAY['RECHAZADO'::character varying, 'ACEPTADO'::character varying, 'EN_PREPARACION'::character varying, 'EN_ENVIO'::character varying, 'ENTREGADO'::character varying, 'EN_ESPERA'::character varying, 'REALIZADO'::character varying, 'PENDIENTE'::character varying])::text[]))),
    CONSTRAINT pedido_metodo_envio_check CHECK (((metodo_envio)::text = ANY ((ARRAY['ENVIO_A_DOMICILIO'::character varying, 'RETIRO_EN_LOCAL'::character varying])::text[])))
);


ALTER TABLE public.pedido OWNER TO postgres;

--
-- Data for Name: cliente; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: detalle_pedido; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.detalle_pedido (id, cantidad, id_producto, monto_unitario, observaciones, id_pedido) FROM stdin;
3e50bc21-a205-4544-8659-b3c088e42e57	2	a1ea1df4-64f0-4c63-8e1b-475da0179c4e	6000.00		74707ecd-c89f-41c4-ac0d-e66fbb6fcf7b
60ddb6cb-8ea9-49c7-b09a-c3742cda9b0a	1	7dfaf51f-649e-44c8-a618-87d80bb5fa35	13498.00	sin salsa\n	cdcf12ab-cff2-4e20-87fe-b3903ae4b39b
ad53a254-4f7b-451f-9795-d87e57a1d3cf	2	73306993-d2fb-4fff-bc62-4ecc5a1ab31d	9500.00		f9b2da3a-eef7-415d-bdc1-2dc10691db7d
\.


--
-- Data for Name: direccion; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pedido; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: cliente cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_pkey PRIMARY KEY (id);


--
-- Name: detalle_pedido detalle_pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalle_pedido
    ADD CONSTRAINT detalle_pedido_pkey PRIMARY KEY (id);


--
-- Name: direccion direccion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.direccion
    ADD CONSTRAINT direccion_pkey PRIMARY KEY (id);


--
-- Name: pedido pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT pedido_pkey PRIMARY KEY (id);


--
-- Name: detalle_pedido fk7n9hdifr08joboojejveby1vr; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalle_pedido
    ADD CONSTRAINT fk7n9hdifr08joboojejveby1vr FOREIGN KEY (id_pedido) REFERENCES public.pedido(id);


--
-- Name: pedido fk9y4jnyp1hxqa386cnly0ay9uw; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT fk9y4jnyp1hxqa386cnly0ay9uw FOREIGN KEY (id_cliente) REFERENCES public.cliente(id);


--
-- Name: pedido fkglpfda4jhff06om0x34f46ixx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT fkglpfda4jhff06om0x34f46ixx FOREIGN KEY (id_direccion) REFERENCES public.direccion(id);


--
-- Name: direccion fkriivr3713wjwr2f9xg6p2ifh3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.direccion
    ADD CONSTRAINT fkriivr3713wjwr2f9xg6p2ifh3 FOREIGN KEY (id_cliente) REFERENCES public.cliente(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Ug3laEhu2pM0b2GXdLG5NTGfNqJQiTVR14yml7W7fsvzS2FOnU5hGofgVfpTc5I

